<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="card">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Modelo</th>
					<th scope="col">Marca</th>
					<th scope="col">Color</th>
					<th scope="col">Tracción</th>
					<th scope="col">Transmisión</th>
					<th scope="col">Asiento</th>
				</tr>
			</thead>
			<tbody th:each="vehiculo : ${listaVehiculo}">
				<tr>
					<td scope="row" th:text="${vehiculo.codvehiculo}"></td>
					<td scope="row" th:text="${vehiculo.modelo}"></td>
					<td scope="row" th:text="${vehiculo.marca}"></td>
					<td scope="row" th:text="${vehiculo.color}"></td>
					<td scope="row" th:text="${vehiculo.traccion}"></td>
					<td scope="row" th:text="${vehiculo.transmision}"></td>
					<td scope="row" th:text="${vehiculo.asiento}"></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{/reportePDF}" target="_blank">Generar Reporte</a>
	</div>
</body>
</html>